/* BEGIN Bold */
@font-face {
    font-family: 'IranianSansBold';
    src: url('../fonts/IranianSansBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* END Bold */
/* BEGIN Regular */
@font-face {
    font-family: 'IranianSans';
    src: url('../fonts/IranianSansRegular.ttf') format('truetype'),
    url('../fonts/IRANSans-web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: IranianSans, Tahoma, serif;
    font-size: 16px;
}
.header{
    width: 100%;
    height: 54px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0 4px 27px 0 rgba(0, 85, 151, 0.28);
    z-index: 1;
}
    .navbar-nav {
        font-size: 12px; /* اندازه فونت برای آیتم‌های منو */
    }
.sliderBox{
    width: 100%;
    height: 400px;
    flex-shrink: 0;
    border-radius: 61px;
    background: #F2FAF9;
    z-index: 0;
}
.sliderBoxRight{
    width: 60%;
    height:200px;
    flex-shrink: 0;
    fill: #FFF;
    filter: drop-shadow(0px 7px 9px #D7E8F2);
    border:1px solid #000;
    float: right;
}
.info{
    width:100%;
    height: 54px;
    flex-shrink: 0;
    border-radius:65px;
    background: #FFF;
    box-shadow: 2px 4px 25px 0px rgba(94, 219, 169, 0.38);
}
    .infoBtn{
        padding: 20px;
    }
 .loginFrm
 {
     width: 100%;
     height: 400px;
     float: right;
     flex-shrink: 0;
     background-color:#05BF8D;
     border-radius: 40px;
 }
 .box2-r{
     position: relative;
     width:700px;
     height:360px;
     font-size:12px !important;
     background:url('../images/Rectangle1797.png');

 }
    .box2-r-img{
        position: relative;
        z-index:2;
    }
 .box2-l{

     margin-top: 50px;
     width:700px;
     height:360px;
     font-size:12px !important;
     background:url('../images/slider-graphic.png') no-repeat;

 }
     .box2-l-img{
         position: absolute;
         left:14%;
         height: 550px;
         z-index:4;
     }
 .box3{
     width:100%;
     height: 90px;
     flex-shrink: 0;
     border-radius: 15px;
     background: linear-gradient(180deg, #49DA93 0%, #01BC8D 100%);
 }
 .cardMargintop{
     margin-top:-85px !important;
 }
 .footer{
     width: 100%;
     height: 300px;
     flex-shrink: 0;
     fill: #05BF8D;
     margin-top: 105px;
     background-color:#05BF8D;
 }
 .copyRight{
     width: 100%;
     height: 25px;
     flex-shrink: 0;
     background: #263238;
 }